/* Animation */

 .like-icon.is-liked .heart{
  animation: scale-animation 0.3s ease-in 0.1s;
} 

.like-icon.is-liked .sparks {
  animation: opacity-animation 0.3s ease-in 0.3s;
}


@keyframes scale-animation {
  from {
    scale: 1;
  }
  to {
    scale: 1.25;
  }
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
